# Project: Implement linear regression to predict salary using numpy
#### Steps of linear regression: 
1. Pick a sample from training data
2. Compute y_hat (Predicted salary value) based on a linear function y = mx+b
3. Compute loss function
4. Compute derivative
5. Update parameters using gradient descent

#### Import libraries

In [359]:
import numpy as np
import pandas as pd
import random
import math

#### Read csv file

In [362]:
df = pd.read_csv("Salary_dataset.csv", index_col = 0)
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

### Step 1: Split training data and testing data

In [365]:
def get_column(data,index):
    result = []
    for i in range(len(data)):
        result.append(data[i][index])
    return result
    

def prepare_data ( file_name_dataset ) :
    data = np.genfromtxt( file_name_dataset , delimiter = ",", skip_header =1).tolist()
    N = len(data)

    exp_data = get_column(data,1)
    salary_data = get_column(data, -1)

    # Shuffle the data while keeping the relationship between features and labels
    combined = list(zip(exp_data, salary_data))
    random.shuffle(combined)
    exp_data, salary_data = zip(*combined)
    
    # building X input and y output for training
    X = exp_data[:len(exp_data)//2]
    y = salary_data[:len(salary_data)//2]

    # Data for testing
    X_test = exp_data[len(exp_data)//2:]
    y_test = salary_data[len(salary_data)//2:]
    return X , y, X_test, y_test

In [367]:
#Our current training data
X,y,X_test,y_test = prepare_data('Salary_dataset.csv')
print("Training input:",X)
print("Training output:",y)
print("Testing input:",X_test)
print("Testing output:",y_test)

Training input: (6.1, 1.4000000000000001, 9.7, 6.8999999999999995, 3.3000000000000003, 5.3999999999999995, 4.6, 3.1, 2.1, 1.6, 8.0, 3.3000000000000003, 4.1, 4.0, 3.8000000000000003)
Training output: (93941.0, 46206.0, 112636.0, 91739.0, 64446.0, 83089.0, 61112.0, 60151.0, 43526.0, 37732.0, 101303.0, 54446.0, 56958.0, 63219.0, 57190.0)
Testing input: (4.1, 3.0, 9.6, 10.4, 8.299999999999999, 5.0, 8.799999999999999, 6.0, 5.199999999999999, 2.3000000000000003, 7.199999999999999, 4.199999999999999, 9.1, 1.2000000000000002, 10.6)
Testing output: (55795.0, 56643.0, 116970.0, 122392.0, 113813.0, 67939.0, 109432.0, 81364.0, 66030.0, 39892.0, 98274.0, 57082.0, 105583.0, 39344.0, 121873.0)

### Step 2: Implement linear regression based on the steps

In [370]:
#Our function is a linear function y_hat=mx+b
def linear_regression(X_data, y_data, epoch_max = 10000, lr = 1e-5):
    losses = []
    m, b = initialize_params()
    N = len(y_data)
    for epoch in range(epoch_max):
        for i in range(N):
            x = X_data[i]
            y = y_data[i]

            #Compute the predicted output
            y_hat = (m*x)+b

            #Create the loss function
            loss = (y_hat-y)**2

            #Compute gradient/derivative based on the parameters
            dl_dm = 2*(y_hat-y)*x
            dl_db = 2*(y_hat-y)

            #Update our parameters using gradient descent
            m = m-(lr*dl_dm)
            b = b-(lr*dl_db)

            #Logging
            losses.append(loss)
    return (m,b,losses)
    
#Our initial parameters for this project will be predetermined, you can set it to random if you wish.
def initialize_params():
    m = 1
    b = 0
    return m,b

### Step 3: Train our model

In [373]:
(m,b,losses) = linear_regression(X,y)
print(f"The model's trained function is y={m}x+{b}")

#Uncomment this if you want to see the losses log
# print("Losses log:", losses)

The model's trained function is y=11654.247090377065x+13456.182537661409

### Step 4: Test our model
#### We will use MSE to evaluate our model

In [376]:
def predict(x,m,b):
    y = m*x+b
    return y

In [378]:
def evaluate_model(X_data, y_data, m, b):
    y_pred = predict(X_data, m,b)
    mse = np.mean((y_data - y_pred)**2)
    rmse = np.sqrt(mse)
    # r_squared = 1 - (np.sum((y_data - y_pred) ** 2) / np.sum((y_data - np.mean(y_data)) ** 2))
    return mse, rmse, diff

In [380]:
#Evaluate model
total_mse = 0
total_rmse = 0
for i in range(len(X_test)):    
    mse,rmse,diff = evaluate_model(X_test[i], y_test[i], m, b)
    total_mse+=mse
    total_rmse+=rmse
    print(f"Test number {i+1}: mse = {mse}, rmse = {rmse}")

Test number 1: mse = 29632733.145694546, rmse = 5443.595608207368
Test number 2: mse = 67635429.19878444, rmse = 8224.076191207401
Test number 3: mse = 70005929.36683689, rmse = 8366.954605281237
Test number 4: mse = 150512467.60687327, rmse = 12268.35227758289
Test number 5: mse = 13151985.392788777, rmse = 3626.5666122089606
Test number 6: mse = 14352110.863521354, rmse = 3788.4179895467387
Test number 7: mse = 43316891.66205143, rmse = 6581.556932979569
Test number 8: mse = 4070972.3747439054, rmse = 2017.6650799237977
Test number 9: mse = 64453077.56828799, rmse = 8028.267407622145
Test number 10: mse = 136124.72641631548, rmse = 368.9508455286632
Test number 11: mse = 823081.5355255352, rmse = 907.2384116237226
Test number 12: mse = 28323900.25716933, rmse = 5322.020317245071
Test number 13: mse = 193956623.37636256, rmse = 13926.831060092692
Test number 14: mse = 141674766.10607955, rmse = 11902.720953886113
Test number 15: mse = 228560022.51060537, rmse = 15118.201695658296

In [382]:
print("Average mse is", total_mse/len(X_test) )
print("Average rmse is", total_rmse/len(X_test))

Average mse is 70040407.71278276
Average rmse is 7059.427732572978